/* common-table */
.common-table {
    border-collapse: collapse;
}

.common-table td {
    border : solid 0.1em;
    padding: 0.3em;
}

/* common-dropdown */
.common-dropdown {
    display: inline-block;
}

.common-dropdown ul {
    display         : none;
    position        : absolute;
    margin          : 0px;
    padding         : 0.2em;
    list-style-type : none;
    cursor          : pointer;
    background-color: white;
    border          : 1px solid;
    border-top      : none;
}

.common-dropdown:hover ul {
    display: block;
}

/* command-panel */
.command-panel input {
    vertical-align: middle;
    height        : 1.8em;
    margin-right  : 0.5em;
}

.command-panel {
    margin-bottom: 0.2em;
}

/* form-blocking */
.form-blocking {
    position  : fixed;
    left      : 0px;
    right     : 0px;
    top       : 0px;
    bottom    : 0px;
    text-align: center;
}

.form-blocking::before {
    height        : 100%;
    display       : inline-block;
    vertical-align: middle;
    content       : '';
}

.form-blocking>div {
    display: inline-block;
}

/* form-element */
.form-element label {
    display      : block;
    margin-bottom: 0.2em;
    user-select  : none;
}

.form-element .head {
    text-align: right;
}

/* user-block */
.user-block {
    float: right;
}

.user-block>span {
    margin-left: 0.5em;
    user-select: none;
    cursor     : pointer;
}

.user-block>span:hover {
    font-weight: bold;
}

/* */
.black-transparent {
    background-color: rgba(0, 0, 0, 0.5);
}

.form-background {
    background-color: white;
}

.form-border {
    border : 0.1em solid;
    padding: 0.5em;
}

.form-common {
    text-align: center;
}

.form-work-space {
    text-align: left;
    min-width : 80%;
    display   : inline-block;
    margin-top: 3em;
}

.input-width {
    width     : 150px;
    box-sizing: border-box;
}